:root {
    --color-primary: #1F1F23;
    --color-secondary: #262626;
    --color-text: #FAFAFA;
    --color-secondary-text: #B5B5B9;
    --color-contrast: #3A3A40;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--color-primary);
}

button {
    outline: none;
    background: none;
    border: none;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5;
}

.header {
    width: 100%;
}

.nav {
    background-color: var(--color-primary);
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    padding: 20px;
    border-bottom: 1px solid var(--color-contrast);
}

.nav__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav__title {
    margin: 0 10px;
    display: inline-block;
    text-align: center;
    color: var(--color-text);
}

.nav__title-link {
    color: var(--color-text);
    font-weight: bold;
}

.nav__menu {
    margin: 0 10px;
}

.nav__menu--active{
    text-decoration: none;
}

.nav__list {
    padding: 30px;
    height: 100vh;
    background-color: var(--color-secondary-text);
    z-index: 1000;
    position: absolute;
    list-style: none;
    display: none;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    right: -20px;
    top: -20px;
    gap: 20px;

}

.nav__icon-container {
    display: flex;
    align-items: center;
}

.nav__icon-button{
    position: absolute;
    z-index: 1000;
}

.nav__icon-img {
    height: 20px;
    cursor: pointer;
}

.header__container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 20px;
    padding-top: 65px;
}

.header__presentation {
    text-align: center;
    margin-top: 25px;
}

.presentation__greeting {
    color: var(--color-secondary-text);
}

.presentation__title {
    margin: 15px 0;
    background-image: linear-gradient(to right, #FAFAFA, #A1A1A1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.header__container-photo {
    margin: 0 auto;
    height: 115px;
    width: 115px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.header__img {
    width: 100%;
    height: 120%;
    object-fit: cover;
}

.header__text {
    text-align: center;
}

.header__title {
    font-weight: bolder;
    font-size: 1rem;
    color: var(--color-secondary-text);
    margin: 10px 0;
}

.header__description {
    margin: 10px 0;
    font-size: 1rem;
    font-weight: normal;
    color: var(--color-secondary-text);
}

.header__buttons-container {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
}

.header__button {
    border-radius: 10px;
    padding: 7.5px 15px;
}

.header__button--primary {
    background-color: var(--color-text);
    color: var(--color-primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.header__button--secondary {
    border: 1px solid var(--color-contrast);
    color: var(--color-text);
}

.button__icon {
    width: auto;
}

.header__links-container {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    width: 100%;
}

.about {
    width: 100%;
    background-color: var(--color-secondary);
}

.about__container {
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
}

.about__title-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 20px 0;
}

.about__title {
    color: var(--color-text);

}

.text__decoration {
    height: 3px;
    width: 25%;
    background-color: var(--color-text);
}

.about__description {
    text-align: start;
    color: var(--color-secondary-text);
}

.about__text {
    margin: 25px 0;
}

.about__data {
    width: 100%;
}

.about__data-education {
    padding: 5px;
    text-align: center;
}

.about__education-title {
    margin: 15px 0;
    color: var(--color-text);
}

.about__formation {
    width: 100%;
    padding: 5px;
}

.about__formation-container {
    color: var(--color-secondary-text);
}

.about__formation-text {
    margin: 20px 0;
    font-weight: bolder;
}

.about__formation-date {
    color: var(--color-text);
    margin: 0 8px;
}

.about__data-personal-info {
    text-align: center;
}

.about__data-personal-info-title {
    color: var(--color-text);
    margin: 15px 0;
}

.about__personal-info-item {
    margin: 5px 0;
}

.about__data-info-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    place-items: center;

}

.about__personal-info-label {
    color: var(--color-secondary-text);
    margin-bottom: 10px;

}

.about__personal-info-value {
    color: var(--color-text);
    margin-bottom: 15px;
}

.about__cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: stretch;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
}

.card__container {
    padding: 15px;
    border: 1px solid var(--color-contrast);
    border-radius: 0.5rem;
    background-color: var(--color-primary);
}

.card__icon {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.card__title {
    color: var(--color-text);
    margin: 5px 0;
}

.card__text {
    color: var(--color-secondary-text);
    margin: 10px 0;
}

.skills {
    width: 100%;
}

.skills__container {
    margin: 20px 0;
    padding: 10px;
}

.skills__title-container {
    text-align: center;
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.skills__cards-container {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.card__tags-container {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
    text-align: center;
}

.card__tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 160px;
    height: 160px;
}

.tag__img {
    width: 100px;
    height: 100px;
    margin: 8px 0;
    text-align: center;
}

.proyects{
    background-color: var(--color-secondary);
    padding: 20px;
}

.proyect__container{
    text-align: center;
    color: var(--color-text);
}

.proyect__container--title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--color-text);
    margin: 20px 0;
}

.proyects__cards{
    margin: 20px 0;
    text-align: start;
}

.proyect__card{
    margin: 25px 0;
}